* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(189, 189, 189);
}

.wrapper {
  width: 200px;
  height: 100px;
  position: relative;
  background-color: white;
}
